In [12]:
import gcp.bigquery as bq
import pandas as pd
import numpy as np

In [13]:
%%bigquery schema --table "nyc-tlc:green.trips_2015"

In [14]:
%%sql
SELECT DAYOFYEAR(pickup_datetime) AS daynumber FROM [nyc-tlc:green.trips_2015] LIMIT 10

QueryResultsTable job_lI8-wn5eT8OFw8GG_IeXIOSOFxM

In [15]:
%%sql --module taxiquery
SELECT daynumber, COUNT(*) AS numtrips FROM
    (SELECT DAYOFYEAR(pickup_datetime) AS daynumber FROM [nyc-tlc:green.trips_$YEAR])
GROUP BY daynumber ORDER BY daynumber

In [17]:
trips = bq.Query(taxiquery, YEAR=2015).to_dataframe()
trips[:5]

avg = np.mean(trips['numtrips'])
print 'Just using average={0} has RMSE of {1}'.format(avg, np.sqrt(np.mean((trips['numtrips'] - avg)**2)))

Just using average=54674.0994475 has RMSE of 10163.4654442